<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="PyWPS - PyWPS is an implementation of the Web Processing Service standard from the Open Geospatial Consortium. PyWPS is written in Python.">

    <meta name="keywords" content="PyWPS, PyWPS, WPS, OGC, processing">

    <meta name="author" content="TERN Landscapes implemented by Ashley Sommer">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <link rel="stylesheet" href="/static/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Hosted on GitHub Pages - Theme by orderedlist (https://github.com/orderedlist) -->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ request_url }}"><img src="/static/img/pywps.png"/></a>
        <ul style="list-style-type: none;">
          <li><a href="http://pywps.org/docs">Docs</a></li>
          <li><a href="http://pywps.org/download">Download</a></li>
          <li><a href="http://pywps.org/community">Community</a></li>
          <li><a href="http://pywps.org/development">Development</a></li>
          <li><a href="http://pywps.org/gallery">Gallery</a></li>
          <li><a href="http://pywps.org/science">Science</a></li>
          <li><a href="http://pywps.org/license">License</a></li>
          <li><a href="http://pywps.org/history">History</a></li>
          <li><a href="http://pywps.org/news">News</a></li>
          <li><a href="http://pywps.org/faq">FAQ</a></li>
          <li><a href="http://pywps.org/contributors">Contributors</a></li>
        </ul>
        <img src="https://svn.osgeo.org/osgeo/marketing/logo/png8/150/OSGeo_incubation.png"/>
      </header>
      <section>{% block major_content %} {% endblock %}</section>
      <footer>
          <p>The use of this website, and the Landscapes WPS api are covered by CSIRO's Privacy Policy.<br>
          See <a href="https://www.csiro.au/en/About/Access-to-information/Privacy">https://www.csiro.au/en/About/Access-to-information/Privacy</a> for more information.</p>
          <p>TERN is funded by NCRIS.</p>
      </footer>
    </div>
    <script src="/static/js/scale.fix.js"></script>
  </body>
</html>
