
{% extends "base.html" %}
 {% block title %}TERN Landscapes WPS{% endblock %}
 {% block major_content%}
<br />
<h1>TERN Landscapes Web Processing Service</h1>

<p>To use this service, point your WPS client to:
<p>
	<code>{{ server_url }}</code>
</p>
<p>
	<a href='{{ server_url }}?request=GetCapabilities&service=WPS'
	   target="_blank" title='{{ server_url }}?request=GetCapabilities&service=WPS'>
		<img alt="GetCapabilities" src="/static/img/PyWPS-GetCapabilities-brightgreen.svg" />
	</a>
	<a href='{{ server_url }}?request=DescribeProcess&service=WPS&identifier=all&version=1.0.0'
	   target="_blank" title='{{ server_url }}?request=DescribeProcess&service=WPS&identifier=all&version=1.0.0'>
	   <img alt="DescribeProcess" src="/static/img/PyWPS-DescribeProcess-green.svg" />
	</a>
</p>
It exposes the following processes:
<ul>
	{% for name, abstract in process_descriptor.items() %}
	<li><b>{{ name }}</b> - {{ abstract }}</li> &nbsp;&nbsp;
	<a href='{{ server_url }}?request=DescribeProcess&service=WPS&identifier={{name}}&version=1.0.0'
	   target="_blank" title='{{ server_url }}?request=DescribeProcess&service=WPS&identifier={{ name }}&version=1.0.0'>
	   <img alt="Describe Process for {{ name }}" src="/static/img/PyWPS-DescribeProcess-green.svg" />
	</a>
	{% endfor %}
</ul>

<p></p>

 <p>
	PyWPS documentation is at
	<a href="http://pywps.rtfd.org/">pywps.rtfd.org</a>;
	source code and issue tracking at
	<a href="https://github.com/geopython/pywps/">
	github.com/geopython/pywps</a>.
 </p>

{% endblock major_content%}
